In [1]:
from pyspark.sql import SQLContext

LOCAL_PATH = 'file:///Users/Karl-Loic/Documents/Columbia-University/Fall-2016/Big-Data-Analytics/final-project/kiva-dig/'

In [2]:
sql_ctx = SQLContext(sc)

In [3]:
# TODO: Create permanent database tables for reuse
# Remove previously created metastore DB
import os, shutil

if os.path.exists(LOCAL_PATH + 'metastore_db/'):
    shutil.rmtree('metastore_db/')
loans = sql_ctx.read.json(LOCAL_PATH + 'kiva-data/loans.json')

In [4]:
loans.count()

1014130

In [5]:
loans.printSchema()

root
 |-- activity: string (nullable = true)
 |-- basket_amount: long (nullable = true)
 |-- bonus_credit_eligibility: boolean (nullable = true)
 |-- borrowers: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- first_name: string (nullable = true)
 |    |    |-- gender: string (nullable = true)
 |    |    |-- last_name: string (nullable = true)
 |    |    |-- pictured: boolean (nullable = true)
 |-- currency_exchange_loss_amount: double (nullable = true)
 |-- delinquent: boolean (nullable = true)
 |-- description: struct (nullable = true)
 |    |-- languages: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- texts: struct (nullable = true)
 |    |    |-- ar: string (nullable = true)
 |    |    |-- en: string (nullable = true)
 |    |    |-- es: string (nullable = true)
 |    |    |-- fr: string (nullable = true)
 |    |    |-- id: string (nullable = true)
 |    |    |-- mn: string (nullable = true)
 |    |    |-- pt: string (nullable = true)
 |    |    |-- ru: string (nullable = true)
 |    |    |-- vi: string (nullable = true)
 |-- funded_amount: long (nullable = true)
 |-- funded_date: string (nullable = true)
 |-- id: long (nullable = true)
 |-- image: struct (nullable = true)
 |    |-- id: long (nullable = true)
 |    |-- template_id: long (nullable = true)
 |-- journal_totals: struct (nullable = true)
 |    |-- bulkEntries: long (nullable = true)
 |    |-- entries: long (nullable = true)
 |-- lender_count: long (nullable = true)
 |-- loan_amount: long (nullable = true)
 |-- location: struct (nullable = true)
 |    |-- country: string (nullable = true)
 |    |-- country_code: string (nullable = true)
 |    |-- geo: struct (nullable = true)
 |    |    |-- level: string (nullable = true)
 |    |    |-- pairs: string (nullable = true)
 |    |    |-- type: string (nullable = true)
 |    |-- town: string (nullable = true)
 |-- name: string (nullable = true)
 |-- paid_amount: double (nullable = true)
 |-- paid_date: string (nullable = true)
 |-- partner_id: long (nullable = true)
 |-- payments: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- amount: double (nullable = true)
 |    |    |-- currency_exchange_loss_amount: double (nullable = true)
 |    |    |-- local_amount: double (nullable = true)
 |    |    |-- payment_id: long (nullable = true)
 |    |    |-- processed_date: string (nullable = true)
 |    |    |-- rounded_local_amount: double (nullable = true)
 |    |    |-- settlement_date: string (nullable = true)
 |-- planned_expiration_date: string (nullable = true)
 |-- posted_date: string (nullable = true)
 |-- sector: string (nullable = true)
 |-- status: string (nullable = true)
 |-- tags: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- name: string (nullable = true)
 |-- terms: struct (nullable = true)
 |    |-- disbursal_amount: double (nullable = true)
 |    |-- disbursal_currency: string (nullable = true)
 |    |-- disbursal_date: string (nullable = true)
 |    |-- loan_amount: long (nullable = true)
 |    |-- local_payments: array (nullable = true)
 |    |    |-- element: struct (containsNull = true)
 |    |    |    |-- amount: double (nullable = true)
 |    |    |    |-- due_date: string (nullable = true)
 |    |-- loss_liability: struct (nullable = true)
 |    |    |-- currency_exchange: string (nullable = true)
 |    |    |-- currency_exchange_coverage_rate: double (nullable = true)
 |    |    |-- nonpayment: string (nullable = true)
 |    |-- repayment_interval: string (nullable = true)
 |    |-- repayment_term: long (nullable = true)
 |    |-- scheduled_payments: array (nullable = true)
 |    |    |-- element: struct (containsNull = true)
 |    |    |    |-- amount: double (nullable = true)
 |    |    |    |-- due_date: string (nullable = true)
 |-- themes: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- translator: struct (nullable = true)
 |    |-- byline: string (nullable = true)
 |    |-- image: long (nullable = true)
 |-- use: string (nullable = true)
 |-- video: struct (nullable = true)
 |    |-- id: long (nullable = true)
 |    |-- thumbnailImageId: long (nullable = true)
 |    |-- title: string (nullable = true)
 |    |-- youtubeId: string (nullable = true)

In [13]:
loans.registerTempTable("loans")

def male_proportion(borrowers):
    num_males = 0
    for item in borrowers:
        if item.gender == 'M':
            num_males += 1
            
    return num_males/ float(len(borrowers))

sql_ctx.registerFunction('male_proportion', male_proportion)

bad_loans = sql_ctx.sql("""
SELECT 
    activity, 
    basket_amount,
    size(borrowers) as num_borrowers,
    male_proportion(borrowers),
    terms.disbursal_date,
    
    use,
    tags,
    status,
    delinquent
FROM loans
LIMIT 10
""")

bad_loans.collect()

[Row(activity=u'Clothing Sales', basket_amount=None, num_borrowers=1, male_proportion(borrowers)=u'0.0', disbursal_date=None, use=u'Compra de ropa dama, caballero y ni\xf1o.', tags=[], status=u'deleted', delinquent=None),
 Row(activity=u'Food Production/Sales', basket_amount=None, num_borrowers=1, male_proportion(borrowers)=u'0.0', disbursal_date=u'2007-03-15T04:52:22Z', use=u'Working capital', tags=[], status=u'paid', delinquent=None),
 Row(activity=u'Food Production/Sales', basket_amount=None, num_borrowers=1, male_proportion(borrowers)=u'0.0', disbursal_date=u'2007-05-17T22:02:42Z', use=u'Sell bread at the local market', tags=[], status=u'paid', delinquent=None),
 Row(activity=u'Clothing Sales', basket_amount=None, num_borrowers=1, male_proportion(borrowers)=u'0.0', disbursal_date=u'2007-07-20T16:35:52Z', use=u'To buy more clothes and baby things for sale', tags=[], status=u'paid', delinquent=None),
 Row(activity=u'Livestock', basket_amount=None, num_borrowers=1, male_proportion(borrowers)=u'0.0', disbursal_date=u'2007-09-20T02:55:18Z', use=u'Lohoure Odio will use the loan to purchase pigs for meat sales', tags=[], status=u'paid', delinquent=None),
 Row(activity=u'Construction', basket_amount=None, num_borrowers=1, male_proportion(borrowers)=u'0.0', disbursal_date=u'2007-11-02T23:38:36Z', use=u'buy a welding machine', tags=[], status=u'paid', delinquent=None),
 Row(activity=u'Cereals', basket_amount=None, num_borrowers=1, male_proportion(borrowers)=u'0.0', disbursal_date=u'2007-12-13T18:22:55Z', use=u'To buy rice for resale', tags=[], status=u'paid', delinquent=None),
 Row(activity=u'Taxi', basket_amount=None, num_borrowers=1, male_proportion(borrowers)=u'1.0', disbursal_date=u'2008-01-11T20:44:52Z', use=u'Taxi repairs and repainting', tags=[], status=u'paid', delinquent=None),
 Row(activity=u'Used Clothing', basket_amount=None, num_borrowers=4, male_proportion(borrowers)=u'0.0', disbursal_date=u'2008-04-19T14:11:32Z', use=u'to invest in their businesses', tags=[], status=u'paid', delinquent=None),
 Row(activity=u'Home Products Sales', basket_amount=None, num_borrowers=1, male_proportion(borrowers)=u'0.0', disbursal_date=u'2008-03-10T22:53:27Z', use=u'Edith needs a loan of 1000 soles (3 soles = $1), which she will use to buy more kitchen appliances.', tags=[], status=u'paid', delinquent=None)]

In [36]:
sql_ctx.sql("""
SELECT
    status,
    COUNT(*)
FROM loans
GROUP BY status
LIMIT 10
""").collect()

[Row(status=u'refunded', count(1)=5504),
 Row(status=u'defaulted', count(1)=21776),
 Row(status=u'in_repayment', count(1)=155748),
 Row(status=u'reviewed', count(1)=3),
 Row(status=u'deleted', count(1)=2722),
 Row(status=u'paid', count(1)=775330),
 Row(status=u'issue', count(1)=199),
 Row(status=u'inactive_expired', count(1)=12421),
 Row(status=u'fundraising', count(1)=3986),
 Row(status=u'expired', count(1)=33773)]

# Starts Here - GDP

### Datasets sources
1. Country codes - https://github.com/datasets/country-codes/tree/master/data
2. GDP Data - http://data.worldbank.org/indicator/NY.GDP.MKTP.CD

In [14]:
import pandas as pd
from datetime import datetime
import numpy as np
import math


# Load country info data
country_codes_raw = pd.read_csv(LOCAL_PATH + 'economic-data/country-codes.csv')
country_gdp_raw = pd.read_csv(LOCAL_PATH + 'economic-data/country-gdp.csv')

In [15]:
country_codes_raw.head()

,name,official_name_en,official_name_fr,ISO3166-1-Alpha-2,ISO3166-1-Alpha-3,ISO3166-1-numeric,ITU,MARC,WMO,DS,...,ISO4217-currency_minor_unit,ISO4217-currency_name,ISO4217-currency_numeric_code,is_independent,Capital,Continent,TLD,Languages,geonameid,EDGAR
0,NaN,Channel Islands,Îles Anglo-Normandes,NaN,NaN,830,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Sark,Sercq,NaN,NaN,680,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,Afghanistan,Afghanistan,AF,AFG,4,AFG,af,AF,AFG,...,2.0,Afghani,971.0,Yes,Kabul,AS,.af,"fa-AF,ps,uz-AF,tk",1149361.0,B2
3,Albania,Albania,Albanie,AL,ALB,8,ALB,aa,AB,AL,...,2.0,Lek,8.0,Yes,Tirana,EU,.al,"sq,el",783754.0,B3
4,Algeria,Algeria,Algérie,DZ,DZA,12,ALG,ae,AL,DZ,...,2.0,Algerian Dinar,12.0,Yes,Algiers,AF,.dz,ar-DZ,2589581.0,B4

In [16]:
country_gdp_raw.head()

,﻿Series Name,Series Code,Country Name,Country Code,2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016]
0,GDP per capita (current US$),NY.GDP.PCAP.CD,Afghanistan,AFG,192.153528278789,203.651040923182,224.914712193371,257.175794656273,280.245644106914,380.400955186598,384.131681276838,458.955781585831,569.940728793286,622.379654358451,690.842629014956,653.347488111011,633.947864294639,590.269515382605,..
1,GDP per capita (current US$),NY.GDP.PCAP.CD,Albania,ALB,1453.64277660853,1890.68155743544,2416.5882350701,2709.14293056201,3005.0129033756,3603.01368536638,4370.53964653148,4114.13654490945,4094.35883191918,4437.8119990258,4247.83985201907,4412.34557813421,4588.64944014811,3965.01680558488,..
2,GDP per capita (current US$),NY.GDP.PCAP.CD,Algeria,DZA,1774.29202079911,2094.89330213298,2600.00651972559,3102.03738422673,3467.54474008596,3939.55993939808,4912.25194081995,3875.82209542426,4473.48644568115,5447.40397556569,5583.61615950131,5491.6144135648,5484.0668056148,4206.03123244958,..
3,GDP per capita (current US$),NY.GDP.PCAP.CD,American Samoa,ASM,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
4,GDP per capita (current US$),NY.GDP.PCAP.CD,Andorra,ADO,24175.3727542522,31742.9925847537,37235.4500323146,39990.3304085679,42417.2291456984,47253.5297963111,46735.9995745016,42701.447136255,39639.386021211,41630.0525792977,39666.3692147448,42806.5224483021,..,..,..

In [17]:
# Clean country codes data
country_codes = country_codes_raw[['official_name_en', 'ISO3166-1-Alpha-2', 'ISO3166-1-Alpha-3', 'ISO4217-currency_alphabetic_code']]
country_codes.head(10)

,official_name_en,ISO3166-1-Alpha-2,ISO3166-1-Alpha-3,ISO4217-currency_alphabetic_code
0,Channel Islands,NaN,NaN,NaN
1,Sark,NaN,NaN,NaN
2,Afghanistan,AF,AFG,AFN
3,Albania,AL,ALB,ALL
4,Algeria,DZ,DZA,DZD
5,American Samoa,AS,ASM,USD
6,Andorra,AD,AND,EUR
7,Angola,AO,AGO,AOA
8,Anguilla,AI,AIA,XCD
9,NaN,AQ,ATA,NaN

In [18]:
# Clean gdp data
country_gdp = country_gdp_raw.drop(country_gdp_raw.columns[[0, 1]], axis=1)
country_gdp.columns = ['name', 'country_code_3', '2002', '2003', '2004', '2005', '2006',
                       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']

In [19]:
country_gdp.head()

,name,country_code_3,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Afghanistan,AFG,192.153528278789,203.651040923182,224.914712193371,257.175794656273,280.245644106914,380.400955186598,384.131681276838,458.955781585831,569.940728793286,622.379654358451,690.842629014956,653.347488111011,633.947864294639,590.269515382605,..
1,Albania,ALB,1453.64277660853,1890.68155743544,2416.5882350701,2709.14293056201,3005.0129033756,3603.01368536638,4370.53964653148,4114.13654490945,4094.35883191918,4437.8119990258,4247.83985201907,4412.34557813421,4588.64944014811,3965.01680558488,..
2,Algeria,DZA,1774.29202079911,2094.89330213298,2600.00651972559,3102.03738422673,3467.54474008596,3939.55993939808,4912.25194081995,3875.82209542426,4473.48644568115,5447.40397556569,5583.61615950131,5491.6144135648,5484.0668056148,4206.03123244958,..
3,American Samoa,ASM,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
4,Andorra,ADO,24175.3727542522,31742.9925847537,37235.4500323146,39990.3304085679,42417.2291456984,47253.5297963111,46735.9995745016,42701.447136255,39639.386021211,41630.0525792977,39666.3692147448,42806.5224483021,..,..,..

In [20]:
# Merde gdp and code
country_gdp = pd.merge(country_gdp, country_codes, left_on='country_code_3', right_on='ISO3166-1-Alpha-3', how='left')
country_gdp.drop(['official_name_en', 'ISO3166-1-Alpha-3', 'country_code_3'], axis=1, inplace=True)
country_gdp = country_gdp.rename(columns = {'ISO3166-1-Alpha-2':'country_code',
                                            'ISO4217-currency_alphabetic_code':'currency_code'})
country_gdp.replace('..', np.nan, inplace=True)

# Reorder columns
cols = list(country_gdp.columns)
cols.insert(1, cols.pop(cols.index('country_code')))
cols.insert(2, cols.pop(cols.index('currency_code')))
country_gdp = country_gdp.reindex(columns= cols)

country_gdp

,name,country_code,currency_code,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Afghanistan,AF,AFN,192.153528278789,203.651040923182,224.914712193371,257.175794656273,280.245644106914,380.400955186598,384.131681276838,458.955781585831,569.940728793286,622.379654358451,690.842629014956,653.347488111011,633.947864294639,590.269515382605,NaN
1,Albania,AL,ALL,1453.64277660853,1890.68155743544,2416.5882350701,2709.14293056201,3005.0129033756,3603.01368536638,4370.53964653148,4114.13654490945,4094.35883191918,4437.8119990258,4247.83985201907,4412.34557813421,4588.64944014811,3965.01680558488,NaN
2,Algeria,DZ,DZD,1774.29202079911,2094.89330213298,2600.00651972559,3102.03738422673,3467.54474008596,3939.55993939808,4912.25194081995,3875.82209542426,4473.48644568115,5447.40397556569,5583.61615950131,5491.6144135648,5484.0668056148,4206.03123244958,NaN
3,American Samoa,AS,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,NaN,NaN,24175.3727542522,31742.9925847537,37235.4500323146,39990.3304085679,42417.2291456984,47253.5297963111,46735.9995745016,42701.447136255,39639.386021211,41630.0525792977,39666.3692147448,42806.5224483021,NaN,NaN,NaN
5,Angola,AO,AOA,775.765518459716,850.075694129697,1135.60456355085,1576.16280066689,2253.83885003865,3151.02243105289,4242.36306234092,3678.94765447179,3886.47935432524,4744.98762949589,5086.8484258086,5327.14889219232,5232.69050054132,4102.11858969272,NaN
6,Antigua and Barbuda,AG,XCD,10027.8562205839,10382.6309004545,10993.3692472668,12079.8656950416,13599.908857304,15276.0682646698,15786.1728395062,13979.2626925883,13017.3103875487,12817.8415733094,13525.616220134,13342.0849977054,13432.0792079208,14128.8785463675,NaN
7,Argentina,AR,ARS,2579.18819898884,3330.42866006847,4251.5653466058,5096.25833247505,5904.67813228342,7226.27029452745,8992.58961919674,8198.56611136286,10332.0323662966,12800.2018563295,13040.306395228,13027.2048221392,12324.9387857728,13431.8783398577,NaN
8,Armenia,AM,AMD,779.829626131555,924.464009817761,1181.9684454224,1625.40776912682,2126.61866107184,3080.97095943572,3919.97547381061,2915.5839059087,3124.78401786195,3417.17183599915,3565.5175749254,3716.82892254464,3873.53356580682,3499.80421759862,NaN
9,Aruba,AW,AWG,20433.6541088167,20834.9397101237,22566.6821576324,23302.8319880055,24015.4206122701,25921.5382341406,27549.8894224976,24640.4212441218,24289.1415161326,25353.7875446441,NaN,NaN,NaN,NaN,NaN
10,Australia,AU,AUD,20059.4520721372,23440.0053221856,30440.8548786229,33982.9504271591,36084.8589777475,40957.8304392487,49628.1151270179,42715.1322619629,51845.6548605562,62216.5471294133,67646.1038529626,67652.6832146189,61995.8296976,56327.7214484289,NaN
11,Austria,AT,EUR,26351.3756769542,32102.9305523558,36693.4026205182,38242.0425174699,40430.993614499,46586.6502529235,51386.3766511975,47654.1872090808,46659.8408181344,51123.5613291663,48324.2540367606,50557.8038059874,51148.3588760796,43438.8630381343,NaN
12,Azerbaijan,AZ,AZN,763.101212220367,883.614008967961,1045.02641527642,1578.36733030667,2473.08577636837,3851.43786871172,5574.60380218613,4950.29479142375,5842.80578358576,7189.69122920765,7393.77187697623,7811.6214184582,7886.45914367274,5496.34464026248,NaN
13,"Bahamas, The",BS,BSD,22505.4047934793,22008.4337005989,21995.5199216219,23405.8795479327,23721.1562800587,24306.1424243044,23657.365306222,22043.0125711709,21920.5165867583,21514.8986531628,22112.6083547268,22315.6036533886,22217.4941392075,22896.9236868716,NaN
14,Bahrain,BH,BHD,13279.0457951397,14541.6160485141,16275.1804236433,18418.0726743768,19669.3195545631,21167.6187062133,23043.0253174017,19166.7082382358,20386.0175551116,22238.7119502059,23063.1322870426,24378.9448284188,24855.2156350086,23395.7476902684,NaN
15,Bangladesh,BD,BDT,401.708153328187,434.046563233432,462.274879844841,485.852888073473,495.853780201055,543.082263122362,618.075883559283,683.614422272329,760.331935200195,838.547801702232,858.933362587621,954.396399715624,1086.80008676935,1211.70153057661,NaN
16,Barbados,BB,BBD,11674.9361829092,12028.8987405468,12869.3365947615,14223.7777039775,15646.815008726,16461.8292691759,16569.6049618665,16526.2545517227,15901.4329353355,15530.8942915589,15317.1390013495,15153.8213753482,15366.2926106288,15660.6794152314,NaN
17,Belarus,BY,BYR,1479.46532113219,1819.4790277163,2378.37489391196,3126.36777779462,3848.58620300891,4735.95688918873,6376.17311491284,5176.04470138203,5818.8548592158,6305.77366247653,6721.83490773968,7722.12335060436,8025.30435552468,5740.45649479562,NaN
18,Belgium,BE,EUR,25052.3302823,30743.9569254283,35589.7129457001,36967.2829204297,38852.3610339939,44403.8313061102,48424.5892730273,44880.5601517887,44382.8797683492,47699.8070518961,44734.4523465803,46622.4679873931,47299.8601085612,40231.2831740081,NaN
19,Belize,BZ,BZD,3556.61608225719,3679.79281542143,3831.60983030588,3933.2343731798,4187.23288999866,4324.83101711444,4470.22079597603,4258.84287648324,4344.13666906088,4516.23303047149,4673.55519784264,4723.59432062825,4884.3686203818,4906.9406908683,NaN
20,Benin,BJ,XOF,411.959075281789,509.461088697817,570.685501333771,587.080212422838,609.018608681583,685.551675107742,794.870176064085,768.013476447657,732.953622726674,799.03555913143,807.688451017232,882.638633279988,903.464924007693,779.067867757338,NaN
21,Bermuda,BM,BMD,62583.1002034588,66111.7252270036,70359.3191088798,75882.0338560339,83912.6977976846,90849.5869806436,93605.7481653976,88463.3128161375,88207.3275597322,85973.158416455,85458.455507886,85748.0654143782,NaN,NaN,NaN
22,Bhutan,BT,INR,897.445333164014,1009.00623184688,1107.92059564068,1257.54864008661,1346.08577480046,1755.16170904287,1810.57617704401,1786.81067200588,2201.29307778936,2485.78705216849,2452.15158793741,2383.04472990264,2560.52213174131,2532.45446832741,NaN
23,Bolivia,BO,BOB,913.575853422027,917.36431048617,978.334757576746,1046.4278428307,1233.59297372996,1389.6317502607,1736.92401415151,1776.85718962366,1981.16010525701,2377.70068972888,2645.29027433174,2948.03291763073,3124.08076212353,3095.3596925636,NaN
24,Bosnia and Herzegovina,BA,BAM,1746.48638346723,2192.64707824367,2619.75325753727,2928.26359035282,3351.96339986152,4107.99623197216,4974.66226666137,4586.20631315947,4475.08813004565,4860.78181134244,4494.64064038047,4748.04069226421,4851.66052786926,4197.80730449044,NaN
25,Botswana,BW,BWP,3044.12735338963,4149.04137748834,4879.45946154727,5327.8535176786,5342.1403362253,5666.63784692568,5561.89823998598,5115.11924667202,6244.00257387272,7504.85090744898,6885.82968106945,6806.67746673071,7153.44432535212,6360.64477568565,NaN
26,Brazil,BR,BRL,2805.71725723054,3040.50649558819,3596.22457976056,4730.65346838158,5808.34054715979,7246.87010479067,8706.81914190374,8474.88106576607,11121.4209541496,13039.1216499582,12157.3082176473,12071.7779871352,11728.7993875108,8538.5899749574,NaN
27,British Virgin Islands,VG,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Brunei Darussalam,BN,BND,17016.9434933055,18758.9808946915,22131.9460641106,26337.9181126619,31157.6884478525,32707.7043073602,37798.3935034007,27726.481053695,31453.2243965354,41787.0214028978,41807.6533410575,39151.2342290391,40979.6419433378,36607.9278817468,NaN
29,Bulgaria,BG,BGN,2079.2289749196,2693.75876041107,3353.56414854374,3852.97775647268,4455.69022418578,5932.89967659315,7296.12247858585,6955.98773253421,6752.55217774882,7750.03988003072,7333.35507303945,7656.63850554922,7851.26542804234,6819.86910816324,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,Sweden,SE,SEK,29571.7044643283,36961.4253671424,42442.2204473133,43085.353145957,46256.4716010495,53324.3793724756,55746.8423811175,46207.0592032962,52076.4305245885,59593.6847982389,57134.0770682404,60283.24522267,58899.9797944845,50272.9415019928,NaN
188,Switzerland,CH,CHF,41336.7219170303,47960.5649721577,53255.9763084633,54797.5466345741,57348.9278823975,63223.467775151,72119.5608730311,69672.0047147337,74277.1205125567,88002.6095703805,83208.68654235,84669.2929367996,85610.8420285261,80214.7301520483,NaN
189,Syrian Arab Republic,SY,SYP,1269.72920825685,1261.42609007136,1419.59337922665,1591.53019241227,1779.82104926154,2079.98786380715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,Tajikistan,TJ,TJS,190.604911236529,237.89319314008,311.424112807574,339.768076770367,407.252611650134,523.947651220881,711.503629870563,671.544008840534,744.189892165383,841.219870374428,962.439124853526,1048.66690599689,1113.36635446715,925.91188767081,NaN
191,Tanzania,TZ,TZS,310.207276508511,325.550773719717,348.052371292798,446.157893998536,475.908765113372,533.172396689392,657.728743357642,665.344002868127,708.521932325363,740.383900829825,827.52888076909,909.330141239446,954.618987954616,864.857502346707,NaN
192,Thailand,TH,THB,2093.97920641937,2349.38452566541,2643.47893487535,2874.38627417759,3351.11763286401,3962.7504988544,4384.78267515745,4231.14036778126,5111.90920222917,5539.49436810396,5915.22114668686,6225.05228315387,5969.94011583791,5816.44068998475,NaN
193,Timor-Leste,NaN,NaN,496.17975117256,487.394976066002,484.088448984765,501.429226481591,464.835169248192,551.720598424389,673.374537904,780.261110851448,875.836569271265,1015.71592799663,1127.10821457355,1117.73125130819,1131.23085071824,1134.42642789183,NaN
194,Togo,TG,XOF,286.758081572586,316.792068666893,356.830803515721,379.18092890047,384.288555620343,428.401561823965,522.625007010443,508.54052572385,496.482494202806,572.025703222528,573.207476512184,589.014053731293,629.9976439467,547.974683363941,NaN
195,Tonga,TO,TOP,1836.29040439251,2089.21704269256,2357.14647444959,2565.38579890357,2837.07547156741,2932.96275815712,3307.28239321081,3106.90237557772,3557.73718366504,4226.69274653294,4364.30924422214,4117.31098292096,4114.05211511279,NaN,NaN
196,Trinidad and Tobago,TT,TTD,7049.61006145836,8804.5186659639,10290.5191436384,12323.1365595732,14095.9958152811,16530.1804420146,21188.118565877,14508.8137365799,15840.4426914159,18287.3907851354,18322.323800986,20217.0322820943,21317.449265568,20444.0785895112,NaN
197,Tunisia,TN,TND,2373.83647757576,2790.00436823287,3139.53720163156,3217.96864628265,3394.42897986889,3805.15293730174,4342.82317730308,4162.5096689683,4176.59159013024,4291.87604315683,4179.46434367471,4248.89127558615,4328.90419734881,3872.51208364171,NaN
198,Turkey,TR,TRY,3570.54626341295,4586.81120315865,5855.53865983905,7117.23324132191,7727.27240453727,9309.50947782175,10382.3181608988,8623.94962718666,10111.5177049589,10538.4351203671,10539.3703371146,10800.3579763053,10303.8988002501,9130.02606479616,NaN
199,Turkmenistan,TM,TMT,969.970033452985,1286.01426124964,1455.93604950756,1706.95672639245,2140.45547216715,2606.74197588003,3918.93492678718,4059.96151102083,4479.01235418457,5724.53710231112,6797.72116602834,7480.32167773692,8193.72029690445,6947.84002260404,NaN
200,Turks and Caicos Islands,TC,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,Tuvalu,TV,AUD,1621.33358266022,1901.03347628001,2232.60251748372,2252.89288563217,2353.35608772946,2768.37095732057,3094.62809172302,2763.16030537848,3238.37576273905,3993.50025430234,4044.19378022487,3880.19087861123,3826.90331140252,NaN,NaN
202,Uganda,UG,UGX,243.674624856652,241.694801118865,292.843015035141,321.435761373761,342.837263983568,409.87032601315,459.109775900068,557.523595605241,608.813023856722,591.438623816353,656.398072749334,674.341641819883,714.567356471156,675.573466220693,NaN
203,Ukraine,UA,UAH,879.475048622777,1048.52248790763,1367.35243333629,1828.71762576598,2303.01883093184,3068.60899799696,3891.03782318207,2545.4803410735,2973.99648071562,3569.75702740477,3855.4212801318,3986.28296611562,3065.16422265266,2114.95471628444,NaN
204,United Arab Emirates,AE,AED,32355.4095972427,34294.8939976005,37179.6818919642,40298.5242178562,42950.1005841305,42913.7840342254,45720.0178979792,32905.0538494054,34341.9112921486,39901.2209155518,41712.1242109135,42831.0891322689,43962.7136932011,40438.3763627115,NaN
205,United Kingdom,GB,GBP,28301.2083322425,32575.0919626199,38305.8726859929,40047.905967007,42534.3062613449,48428.1574527987,45195.1569273881,37166.2759654944,38292.8711313583,41020.3769643089,41294.5148008666,42294.8901157814,46278.5202128829,43734.0001709187,NaN
206,United States,US,USD,38166.0378407812,39677.1983481058,41921.8097617892,44307.9205848603,46437.0671173065,48061.5376613353,48401.4273403899,47001.5553496818,48374.0867933094,49781.8006563523,51433.0470904727,52660.2951049798,54398.4600093994,55836.7926308733,NaN
207,Uruguay,UY,UYU,4088.77254119908,3622.05228427976,4117.30885333007,5220.95739601735,5877.87960762231,7009.67815952936,9062.29053512906,9415.15358319032,11938.2750549849,14166.5576669096,15092.4720586676,16881.38400062,16737.973101175,15573.9009189374,NaN
208,Uzbekistan,UZ,UZS,383.349499748749,396.129968981304,465.119886944025,546.776850185552,642.960414644088,830.407694204322,1023.11964110698,1181.84735960066,1377.08214046938,1544.82777273524,1719.03619624155,1877.9645118434,2052.58678135925,2132.07244181734,NaN
209,Vanuatu,VU,VUV,1353.9278386398,1580.51066802466,1787.9382648014,1886.38830966499,2047.08828520065,2393.3346212201,2698.02124012432,2643.47578534313,2965.75223011673,3275.02398203673,3158.4209735273,3167.05530330465,3147.96485986836,NaN,NaN
210,"Venezuela, RB",VE,VEF,3657.19374768603,3233.9561063252,4273.36537157056,5435.87225994853,6740.23677858669,8325.21658255278,11224.6467026883,11534.8406001136,13581.3533771018,10754.5928790654,12771.5950361107,12265.03113567,NaN,NaN,NaN
211,Vietnam,VN,VND,477.105876263106,530.861849364997,606.904378261988,699.499778976363,796.671573774518,919.209265568078,1164.61252461712,1232.36967118834,1333.58352635481,1542.67043610149,1754.5479738641,1907.56438167972,2052.31908380089,2111.13802366815,NaN
212,Virgin Islands (U.S.),VI,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,West Bank and Gaza,NaN,NaN,1156.21747345769,1257.69857009689,1337.56572430673,1455.18787518115,1441.46170046742,1575.56340027289,1855.45702045882,1963.20151865719,2338.71987682303,2663.53702496611,2787.16973802917,2992.20099455427,2960.77800405245,2866.80010121789,NaN
214,"Yemen, Rep.",YE,YER,567.821963311624,607.915804267557,696.054960696925,817.082416653512,904.605600055261,1181.2151760728,1361.7172085227,1239.83711886653,1310.05383929542,1282.39883187217,1289.03407763668,1408.14619260488,NaN,NaN,NaN
215,Zambia,ZM,ZMW,376.468039539246,429.007277894455,530.553584072736,691.80945858671,1030.31535972563,1103.48657711875,1365.72120522548,1134.77299782945,1456.12652618031,1635.54730435222,1724.74356387435,1839.52248112115,1725.97454864009,1307.78861109883,NaN
216,Zimbabwe,ZW,ZWL,499.716414957462,448.373192699451,451.171588554028,443.240135984532,414.680115131526,397.956872258099,327.199083662345,594.495968478092,674.268695411166,768.556409302399,850.827696604891,905.500321786172,931.19818468692,890.416087751634,NaN

In [21]:
def gdp(country_code, disbursal_date):
    def historical_gdp(array):
        array = np.array(map(float, array))
        array = array[~np.isnan(array)] # Remove NaN
        if len(array) == 0: # No GDP values
            return 0
        return float(np.mean(array, dtype=np.float64))
        
    # TODO: Unable to resolve country code WorldBank dataset has wrong alpha 3 codes e.g. Andorra causing issues
    try:
        float(country_code)
        return 0
    except:
        if country_code not in list(country_gdp['country_code']):
            return 0 # TODO: Bad solution ?   
    
    # Get the historical average GDP if no disbursal date
    all_gdp = country_gdp[country_gdp.country_code == country_code].values[0][3:]
    if (disbursal_date is None): # or (country_gdp[date][country_gdp.country_code == country_code] == float('Nan')):
        return historical_gdp(all_gdp)
    
    date = str(datetime.strptime(disbursal_date, '%Y-%m-%dT%H:%M:%SZ').year)
    # Get the historical average GDP if no GDP for that year
    if pd.isnull(country_gdp[date][country_gdp.country_code == country_code].values[0]):
        return historical_gdp(all_gdp)
    
    return float(country_gdp[date][country_gdp.country_code == country_code].values[0])

sql_ctx.registerFunction('gdp', gdp, pyspark.sql.types.FloatType())
# gdp('ZA', '2016-12-13T18:22:55Z')

# sql_ctx.sql("""
# SELECT 
#     activity, 
#     basket_amount,
#     terms.disbursal_date,
#     gdp(location.country_code, terms.disbursal_date) as gdp
# FROM loans
# LIMIT 10
# """).collect()

In [22]:
train, validation, test = loans.randomSplit([.6, .2, .2], 101)


train.registerTempTable('loans_train')
validation.registerTempTable('loans_validation')
test.registerTempTable('loans_test')


# Starts Here - Currency exchange

In [23]:
currencies_raw = pd.read_csv(LOCAL_PATH + 'economic-data/currencies.csv')
currencies_raw.tail()

,﻿Series Name,Series Code,Country Name,Country Code,2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016]
213,"Official exchange rate (LCU per US$, period av...",PA.NUS.FCRF,West Bank and Gaza,WBG,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
214,"Official exchange rate (LCU per US$, period av...",PA.NUS.FCRF,"Yemen, Rep.",YEM,175.625,183.448333333333,184.775833333333,191.509166666667,197.049166666667,198.953333333333,199.764166666667,202.846666666667,219.59,213.8,214.350833333333,214.89,214.89,214.89,..
215,"Official exchange rate (LCU per US$, period av...",PA.NUS.FCRF,Zambia,ZMB,4.398595,4.73327104649872,4.77887538643579,4.46350331051587,3.60307204258249,4.00252266503643,3.74566069008764,5.04610924521235,4.797136875,4.86066553209349,5.14725266514413,5.39588706794446,6.15281624812449,8.63235596234196,..
216,"Official exchange rate (LCU per US$, period av...",PA.NUS.FCRF,Zimbabwe,ZWE,0.0550982905810338,0.698216071305723,5.07441941463195,22.3890396048255,164.547356500646,9686.77166954175,6723052073.3381,..,..,..,..,..,..,..,..
217,"Official exchange rate (LCU per US$, period av...",PA.NUS.FCRF,Euro area,EMU,1.06255166666667,0.886034166666667,0.805365,0.80412,0.797140833333333,0.7306375,0.682674711239873,0.719843359785615,0.755044951989835,0.719355253609154,0.778293601412852,0.75315918184727,0.753730736717402,0.901658961641278,..

In [24]:
# Cleanup
currencies = currencies_raw.drop(country_gdp_raw.columns[[0, 1]], axis=1)
currencies.columns = ['country_name', 'country_code_3', '2002', '2003', '2004', '2005', '2006',
                       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']

In [25]:
# Get ISO 2 code
currencies = pd.merge(currencies, country_codes, left_on='country_code_3', right_on='ISO3166-1-Alpha-3', how='left')
currencies.drop(['official_name_en', 'ISO3166-1-Alpha-3', 'country_code_3'], axis=1, inplace=True)
currencies = currencies.rename(columns = {'ISO3166-1-Alpha-2':'country_code',
                                            'ISO4217-currency_alphabetic_code':'currency_code'})
currencies.replace('..', np.nan, inplace=True)

# Add code for European Union
currencies.set_value(217, 'country_code', 'EU')
currencies.set_value(217, 'currency_code', 'EMU')

# Reorder columns
cols = list(currencies.columns)
cols.insert(1, cols.pop(cols.index('country_code')))
cols.insert(2, cols.pop(cols.index('currency_code')))
currencies = currencies.reindex(columns=cols)

currencies.tail()

,country_name,country_code,currency_code,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
213,West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,"Yemen, Rep.",YE,YER,175.625,183.448333333333,184.775833333333,191.509166666667,197.049166666667,198.953333333333,199.764166666667,202.846666666667,219.59,213.8,214.350833333333,214.89,214.89,214.89,NaN
215,Zambia,ZM,ZMW,4.398595,4.73327104649872,4.77887538643579,4.46350331051587,3.60307204258249,4.00252266503643,3.74566069008764,5.04610924521235,4.797136875,4.86066553209349,5.14725266514413,5.39588706794446,6.15281624812449,8.63235596234196,NaN
216,Zimbabwe,ZW,ZWL,0.0550982905810338,0.698216071305723,5.07441941463195,22.3890396048255,164.547356500646,9686.77166954175,6723052073.3381,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,Euro area,EU,EMU,1.06255166666667,0.886034166666667,0.805365,0.80412,0.797140833333333,0.7306375,0.682674711239873,0.719843359785615,0.755044951989835,0.719355253609154,0.778293601412852,0.75315918184727,0.753730736717402,0.901658961641278,NaN

In [26]:
def xchange_rate(country_code, disbursal_date):
    def historical_rates(array):
        array = np.array(map(float, array))
        array = array[~np.isnan(array)] # Remove NaN
        if len(array) == 0: # No rate values
            return 1
        return float(np.mean(array, dtype=np.float64))
    
    eu = ['AT','BE','BG','HR','CY','CZ','DK','EE','FI','FR','DE','GR','HU','IE',
          'IT','LV','LT','LU','MT','NL','PL','PT','RO','SK','SI','ES','SE','GB']
    us = ['AS','GU','MP','PR','UM','VI']
    try:
        float(country_code) # Country code unknown?
        if pd.isnull(country_code):
            return 1 # TODO: Bad solution ??
    except:
        if country_code in eu:
            country_code = 'EU'
        elif country_code in us:
            country_code = 'US'
        if country_code not in list(currencies['country_code']):
            return 1
        
        
    # TODO: Unable to resolve country code WorldBank dataset has wrong alpha 3 codes e.g. Andorra causing
    try:
        float(country_code)
        return 0
    except:
        if country_code not in list(currencies['country_code']):
            return 0 # TODO: Bad solution    
    
    # Get the historical average exchange rate if no disbursal date
    all_rates = currencies[currencies.country_code == country_code].values[0][3:]
    if (disbursal_date is None): # or (country_gdp[date][country_gdp.country_code == country_code] == float('Nan')):
        return historical_rates(all_rates)
    
    date = str(datetime.strptime(disbursal_date, '%Y-%m-%dT%H:%M:%SZ').year)
    # Get the historical average exchange rate if no GDP for that year
    if pd.isnull(currencies[date][currencies.country_code == country_code].values[0]):
        return historical_rates(all_rates)
    
    return float(currencies[date][currencies.country_code == country_code].values[0])

sql_ctx.registerFunction('xchange_rate', xchange_rate, pyspark.sql.types.FloatType())
# xchange_rate('BE', '2016-12-13T18:22:55Z') 

# sql_ctx.sql("""
# SELECT 
#     xchange_rate(location.country_code, terms.disbursal_date) as xchange_rate
# FROM loans
# LIMIT 20
# """).collect()

In [81]:
def extract_tags(tags):
    value = []
    if len(tags) != 0:
        value = [item for (item,) in tags]
    return ','.join(value)

sql_ctx.registerFunction('extract_tags', extract_tags, pyspark.sql.types.StringType())

        
# # unpack_tags([('volunteer_pick',), ('volunteer_like',)])

# sql_ctx.registerFunction('unpack_tags', unpack_tags)
# sql_ctx.sql(
# """
# SELECT 
# unpack_tags(tags) as tags
# FROM loans
# LIMIT 20000
# """
# ).collect()

In [82]:

query = '''
SELECT
    id,
    activity,
    size(borrowers) as num_borrowers,
    male_proportion(borrowers) as male_proportion,
    lender_count,
    location.country,
    location.country_code,
    partner_id,
    sector,
    extract_tags(tags) as tags,
    DATEDIFF(terms.disbursal_date, planned_expiration_date) as loan_length,
    terms.disbursal_amount,
    terms.disbursal_currency,
    terms.disbursal_date,
    size(terms.scheduled_payments) as num_repayments,
    terms.repayment_interval,
    CASE WHEN
        (status = 'defaulted') OR
        (status = 'deleted') OR
        (status = 'issue') OR
        (status = 'inactive_expired') OR
        (status = 'expired') OR
        (status = 'inactive') OR
        (delinquent = True) THEN 1 ELSE 0 END AS bad_loan,
    gdp(location.country_code, terms.disbursal_date) as gdp,
    xchange_rate(location.country_code, terms.disbursal_date) as xchange_rate,
    status,
    delinquent
    
FROM {}
WHERE
    status != 'fundraising' AND
    status != 'funded'
'''# Removed CASE WHEN (status = 'refunded') as it appears not to be bad loan indicator

train_filtered = sql_ctx.sql(query.format('loans_train'))
# sparkSql.sql(query.format('loans_validation')).write.json('validation_data-filtered.json')

### Prediction

In [163]:
loans_pd = sql_ctx.sql(query2.format('loans')).toPandas()

In [164]:
loans_pd.head()

,id,activity,num_borrowers,male_proportion,lender_count,country,country_code,partner_id,sector,tags,...,disbursal_amount,disbursal_currency,disbursal_date,num_repayments,repayment_interval,bad_loan,gdp,xchange_rate,status,delinquent
0,1224,Clothing Sales,1,0.0,0,Honduras,HN,5,Clothing,,...,250.0,None,None,0,None,1,1884.941162,18.520081,deleted,None
1,5320,Food Production/Sales,1,0.0,7,Ghana,GH,19,Food,,...,500.0,USD,2007-03-15T04:52:22Z,9,Monthly,0,1099.022339,0.935248,paid,None
2,9416,Food Production/Sales,1,0.0,3,Vietnam,VN,41,Food,,...,75.0,USD,2007-05-17T22:02:42Z,6,Monthly,0,919.209290,16105.125000,paid,None
3,13512,Clothing Sales,1,0.0,10,Nigeria,NG,20,Clothing,,...,450.0,USD,2007-07-20T16:35:52Z,8,Monthly,0,1131.147705,125.808105,paid,None
4,17608,Livestock,1,0.0,36,Cote D'Ivoire,CI,53,Agriculture,,...,950.0,USD,2007-09-20T02:55:18Z,12,Monthly,0,1078.541504,479.266785,paid,None

In [165]:
from sklearn.model_selection import train_test_split

loans_pd.fillna(0, inplace=True)

In [166]:
loans_pd = loans_pd.drop(['status', 'delinquent'], axis=1)
loans_dummies = pd.get_dummies(loans_pd)

train, test = train_test_split(loans_dummies, test_size=0.30, random_state=42)

In [168]:
train_target = pd.Series(train['bad_loan'])
train_ids = pd.Series(test['id'])

test_target = pd.Series(test['bad_loan'])
test_ids = pd.Series(test['id'])

train = train.drop(['id', 'bad_loan'], axis=1)
test = test.drop(['id', 'bad_loan'], axis=1)

train_target.head()

11    0
47    0
85    0
28    1
93    1
Name: bad_loan, dtype: int64

In [169]:
train_data = train.as_matrix()
test_data = test.as_matrix()

In [172]:
from sklearn import svm

clf = svm.SVC(gamma=0.001, C=100.)

In [173]:
clf.fit(train_data, train_target)

predicted = clf.predict(test_data)
np.mean(predicted == test_target)

0.93333333333333335